<div class="row">
  <div class="col-sm-2">

  </div>
  <div class="col-sm-8">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let blog of blogList">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ blog.title}}
          </mat-panel-title>
          <mat-panel-description>
            {{blog.doc | date:'short'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{ blog.content }}  <br> <br>
          Created by {{blog.createdBy}}
        </p>
        <mat-action-row *ngIf="userIsAuthenticated && userId === blog.creator">
          <a mat-raised-button color="primary" [routerLink]="['/edit',blog.id]">Edit</a>
          <button mat-raised-button color="accent" (click)="onDelete(blog.id)">Delete</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-paginator
     [length]="totalBlog"
     [pageSize]="blogsPerPage"
     [pageSizeOptions]="pageSizeOption"
     (page)="onChangedPage($event)"></mat-paginator>
  </div>
  <div class="col-sm-2">

  </div>
</div>
